.emp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emp-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
}

.performance-best {
  box-shadow: 0px 0px 15px var(--accent);
}

.performance-good {
  box-shadow: 0px 0px 15px rgb(113, 255, 113);
}

.performance-mid {
  box-shadow: 0px 0px 15px rgb(255, 192, 90);
}

.performance-bad {
  box-shadow: 0px 0px 15px rgb(255, 86, 86);
}

.emp-col {
  background-color: var(--white);
  border-radius: 15px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  transition: 0.3s ease;
  color: var(--black);
}

.emp-col:not(.emp-performance) {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.emp-col:not(:last-child):hover,
.emp-box-col:hover {
  transform: scale(1.05);
}

.emp-graph {
  width: 450px;
}

.performance-title,
.task-header,
.emp-reports-header,
.emp-project-header,
.emp-duration-header {
  font-size: 24px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid var(--gray-light);
}

.performance-value,
.task-value {
  font-size: 72px;
}

.emp-task,
.emp-duration {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.task-description,
.emp-duration-description,
.emp-project-description {
  font-size: 18px;
  margin-bottom: 25px;
}

.emp-performance {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.emp-performance:hover {
  transform: scale(1.05);
}

.emp-reports,
.emp-project {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

.emp-reports-description,
.emp-project-description,
.performance-description {
  text-align: center;
  margin-bottom: 15px;
}

.emp-duration-value {
  font-size: 36px;
}

.emp-report-icon,
.emp-project-icon {
  font-size: 72px;
}

.emp-duration-icon {
  font-size: 24px;
}

.emp-deadline,
.emp-user-management {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.emp-deadline-header,
.emp-team-header {
  font-size: 20px;
}

.emp-user-management {
  cursor: pointer;
}

.emp-deadline-value {
  font-size: 24px;
}

.emp-team-icon {
  font-size: 36px;
}

.emp-deadline-description {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .emp-col {
    width: 100%;
  }
  .row-2 > .emp-col {
    width: 100%;
  }
}
