.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  width: 90%;
  gap: 20px;
  border-radius: 15px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pill:hover {
  background-color: var(--accent-dark);
}

.pill-title {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.pill-link {
  text-decoration: none;
  color: #fff;
}
