.tld-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tld-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
}

.row-2 > .tld-col {
  width: 270px;
}

.tld-col {
  background-color: var(--white);
  border-radius: 15px;
  width: 350px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  transition: 0.3s ease;
  color: var(--black);
}

.tld-col:not(:last-child):hover,
.tld-box-col:hover {
  transform: scale(1.05);
}

.tld-graph {
  width: 450px;
}

.risk-title,
.task-header,
.tld-reports-header,
.tld-project-header {
  font-size: 24px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid var(--gray-light);
}

.risk-value,
.task-value {
  font-size: 50px;
}

.tld-task {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.task-description {
  font-size: 18px;
  margin-bottom: 25px;
}

.tld-risk {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.tld-risk:hover {
  transform: scale(1.05);
}

.risk-low {
  box-shadow: 0px 0px 15px rgb(113, 255, 113);
}

.risk-medium {
  box-shadow: 0px 0px 15px rgb(255, 192, 90);
}

.risk-high {
  box-shadow: 0px 0px 15px rgb(255, 86, 86);
}

.tld-reports,
.tld-project {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

.tld-reports-description,
.tld-project-description,
.risk-description {
  text-align: center;
  margin-bottom: 15px;
}

.tld-report-icon,
.tld-project-icon {
  font-size: 72px;
}

.tld-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  box-shadow: none;
}

.tld-box-col {
  background-color: var(--white);
  min-height: 45%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.tld-deadline,
.tld-user-management {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.tld-deadline-header,
.tld-team-header {
  font-size: 20px;
}

.tld-user-management {
  cursor: pointer;
}

.tld-deadline-value {
  font-size: 24px;
}

.tld-team-icon {
  font-size: 36px;
}

.tld-deadline-description {
  text-align: center;
  font-size: 14px;
}

.tld-team-description,
.tld-project-description {
  all: unset;
  background-color: var(--accent);
  color: var(--white);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .tld-col {
    width: 100%;
  }
  .row-2 > .tld-col {
    width: 100%;
  }
}
